$color1: #000f08; //rgba(0, 15, 8, 100)
$color2: #136f63; //rgba(19, 111, 99, 100)
$color3: #e0ca3c; //rgba(224, 202, 60, 100)
$color4: #f34213; //rgba(243, 66, 19, 100)
$color5: #3e2f5b; //rgba(62, 47, 91, 100)
$colors: $color1, $color2, $color3, $color4, $color5;
